.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
img, svg {
    vertical-align: middle;
}
main {
    text-align: center!important;
    vertical-align: middle;
}